name: ci

on:
  push:
    branches:
      - main
      - fix-ci

  pull_request:
    branches:
      - main

jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install Ubuntu packages
      run: |
        sudo apt update
        grep 'sudo apt install' INSTALL | sed 's/.*sudo/sudo/' | sh
    - name: Compile
      run: make -C GUI/xephem
    - name: Test
      run: make -C tests

  macos-intel-processor:
    runs-on: macos-15-intel
    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: |
        grep '\$ brew install' INSTALL | sed 's/^ *\$ //' > /tmp/commands
        sh -e -x /tmp/commands
    - name: Compile
      run: make -C GUI/xephem
    - name: Test
      run: make -C tests

  macos-m1-processor:
    runs-on: macos-14
    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: |
        grep '\$ brew install' INSTALL | sed 's/^ *\$ //' > /tmp/commands
        sh -e -x /tmp/commands
    - name: Compile
      run: make -C GUI/xephem
    - name: Test
      run: make -C tests
